<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
{% include schema.html %}
<meta name="theme-color" content="#0b5d66">
<link rel="icon" href="{{ '/assets/img/brand-icon.svg' | relative_url }}" type="image/svg+xml">
<link rel="shortcut icon" href="{{ '/assets/img/brand-icon.svg' | relative_url }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ '/assets/img/brand-icon.svg' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/img/safari-pinned-tab.svg' | relative_url }}" color="#0b7285">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
